[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
keras = "*"
numpy = "*"
opencv-python = "*"
scikit-learn = "*"
pillow = "*"
speechrecognition = "*"
pydub = "*"
pyaudio = "*"
sounddevice = "*"
vosk = "*"
pyttsx3 = "*"

[dev-packages]
certifi = ">=2023.7.22"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
